body {
    height: 92dvh;
    display: flex;
    flex-direction: column;
}

.landing-home {
    height: 128px;
    width: 100%;
    background: rgba(78, 164, 135, 1);

    display: flex;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding-left: 114px; */
    /* gap: 70px; */
}

.header-logo {
    height: 72px;
    width: 72px;
    /* padding-right: 68px; */
    display: flex;
}

.nav-bar {
    width: 100%;
    display: flex;
}

.nav-bar ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-bar a {
    font-size: 30px;
}

.nav-bar-mobile {
    display: none;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.faq img {
    width: 30px;
    height: 34.33px;
}

.headline-home {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Arima";
    font-weight: 700;
    font-size: clamp(16px, 5dvw, 52px);
    color: rgba(78, 164, 135, 1);
    gap: 8px;
    padding-bottom: 32px;
}

.headline-home h2 {
    font-size: 40px;
}

.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 70px 0px max(calc(50% - 720px), 80px);
}

.faq-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Palanquin";
    width: 100%;
}

details {
    margin-bottom: 16px;
    width: 100%;
}

summary {
    display: flex;
    background: rgba(241, 201, 83, 1);
    list-style: none;
    padding: 16px 14px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    cursor: pointer;
    gap: 16px;
    border-radius: 12px;
}

details[open] summary {
    border-bottom: 3px solid rgba(255, 255, 255, 1);
}

details p {
    padding: 5px 20px 15px;
}

details.card {
    background-color: rgba(255, 255, 255, 1);
}

.card summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card summary::after {
    content: "";
    border: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transition: 0.3s;
    transform: rotate(45deg);
}

details[open].card > summary::after {
    transform: rotate(-135deg);
}

footer {
    height: 150px;
    width: 100%;
    background-color: rgba(78, 164, 135, 1);
    color: white;
    font-size: 16px;
    padding: 30px 24px;
    font-family: "Palanquin";
    font-style: normal;
    font-weight: 400;

    display: flex;
    align-items: flex-end;
}

.footer {
    width: 375px;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer a {
    height: 24px;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.copyright {
    display: flex;
    gap: 4px;
}

.footer > img {
    height: 16px;
}

.social-media-icons {
    height: 24px;
    width: 150px;
    display: flex;
    gap: 16px;
    padding-bottom: 30px;
}

.social-media-icons img {
    height: 24px;
}

.social-media-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
}

#TikTok-Button {
    height: 24px;
    width: 24px;
    background: rgba(241, 201, 83, 1);
    border-radius: 5px;
}

#Youtube-Button {
    height: 24px;
    width: 30px;
    background: rgba(241, 201, 83, 1);
    border-radius: 8px;
}

#Facebook-Button {
    height: 24px;
    width: 24px;
    background: rgba(241, 201, 83, 1);
    border-radius: 50px;
}

#Instagram-Button {
    height: 24px;
    width: 24px;
    background: rgba(241, 201, 83, 1);
    border-radius: 5px;
}

#TikTok-Icon {
    height: 19px;
    width: 16px;
}

#Youtube-Icon {
    height: 14px;
    width: 14px;
}

#Facebook-Icon {
    height: 18px;
    width: 10px;
}

#Instagram-Icon {
    height: 17px;
    width: 17px;
}

@media screen and (max-width: 580px) {
    .nav-bar {
        display: none;
    }

    .nav-bar-mobile {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background: rgba(241, 201, 83, 1);
        padding: 24px 25px;
    }

    .nav-bar-mobile > ul {
        width: 100%;
        /* height: 88px; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
    }
}
